<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <h2>$<%=product.price %></h2>
  <p><%= product.description %></p>
<% end %>

<button>Comprar</button>
